<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/karen.jpg" %}
    <h3 class="media-title">Karen Pasquel</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Karen Pasquel</h3>
    <div>
      <p>Karen first got into yoga when work stress forced her to start taking care of her mental and emotional health. Her first class was challenging but revitalising, and she realised that yoga was the next step in her journey.</p>

      <p>A personal crisis led her to reflect on her priorities, and she felt her true purpose was to help, contribute, and serve through the yogic principles that had so improved her own life.</p>

      <p>Her biggest motivation for teaching yoga is bringing to each of her students strength, stillness, awareness and resilience. Her classes involve flows, long holds, meditation and breath work.</p>
      
      <p><a class="link js-modal" id="370262120">Watch Karen’s Video</a></p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/rua.jpg" %}
    <h3 class="media-title">Rua Hvitulv</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Rua Hvitulv</h3>
    <div>
      <p>Rua is co-founder and owner of YogaRuka.</p>

      <p>From a history as a teacher of sciences, to a journalist writing about the Mafia in the heated Neapolitan metropolis, to a multi-disciplinary artist fiddling with print and the web, Rua has changed lives a few times over. The only thing that​ has been​stick​ing​​ throughout​is her passion for learning​,​and sharing mindful experiences rather than just knowledge - and that’s how today she is a dedicated meditation facilitator, a stretch therapist and a multi-style yoga instructor.</p>

      <p>​She is striving​ to teach - or perhaps even better, facilitate yoga, and movement - the way​ she would have always wanted to be taught. ​Her long-term goal is to gather around ​her a new generation of practitioners who think of yoga​​and all its​ ​offshoots critically, not superstitiously, who aspire to work healthily and live mindfully; to offer a resource for those who want to approach it from a different angle; to offer a space for those who have tried and failed to get into it many times before, to try once more.</p>

      <p><a class="link js-modal" id="370278281">Watch Rua’s Video</a></p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/morgan.jpg" %}
    <h3 class="media-title">Morgan</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Morgan</h3>
    <div>
      <p>Morgan was a fairly unathletic child who found his way into a gym at age 20, where finally he thrived in a non-competitive environment. However, being unconditioned, he quickly collected some injuries. He turned to yoga, and then other methodologies like Stretch Therapy and Fighting Monkey, which not only rehabbed his injuries, but to his surprise turned him into someone “athletic”.</p>

      <p>His classes are a mix of everything he’s ever tried, as he believes variability is the key to good health and good movement.</p>

      <p><a class="link js-modal" id="377763862">Watch Morgan’s Video</a></p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/emily.jpg" %}
    <h3 class="media-title">Emily</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Emily</h3>
    <div>
      <p>Emily's journey with yoga began as a way to recover from a number of sports injuries. Always an active person, she fell in love with yoga not only for the physical benefits but also for its ability to heal and transform. Emily loves how yoga has enabled her to gained a deeper connection and respect for her body through the physical practice, and helped her move past the resistances that life throws up.</p>

      <p>She truly believes that our bodies have amazing ways of healing themselves - we just have to listen. Emily's classes bring an alignment focus to the flow, encouraging students to strengthen their practice and open their bodies without injury and teaches students how yoga can benefit both on the mat and in their daily lives. For newer or more experienced students alike she works to make her classes both accessible and challenging and she ensures you'll leave feeling nurtured, restored and rejuvenated.

</p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/jenna.jpg" %}
    <h3 class="media-title">Jenna</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Jenna</h3>
    <div>
      <p>Hi my name is Jenna, my approach with teaching asana is the same approach I take with my health & wellness clients; respecting bio-individuality while engaging in functional movement that supports us day to day.</p>

      <p>My 14 year love affair with yoga began when I was able to develop a new relationship with my mind & body with less judgment of the outcome. As my curiosity grew so did my desire to learn all aspects of the ancient yoga system such as pranayama, meditation & Ayurveda. Seeing how it can be used in modern times has now become my passion and joy to share with others. With 1200 hours of teacher trainings under my belt I still am a student and students are my teachers.</p>

      <p>Come and join me for a breath centered practice that explores your own body’s movement and encourages safety, awareness and wellbeing.</p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/victoria.jpg" %}
    <h3 class="media-title">Victoria</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Victoria</h3>
    <div>
      <p>Victoria teaches a steady Hatha flow, bringing balance and harmony to the body by connecting movement back to breath. A typical class requires students to hold each yoga posture for longer, to engage with their bodies on a deeper energetic level.</p>

      <p>Victoria first discovered the benefits of yoga whilst leading a very busy life in New York City 10+ years ago. Her yoga journey has since taken her to many parts of the world, including India, Spain, Canada and Hawaii, where she has taken part in retreats and workshops. She has immersed herself into various styles of yoga, including Bikram, Iyengar, Ashtanga, Kundalini and Naam.</p>

      <p>It was here in Australia that Victoria formalised her yoga training and qualified for her 200-hour teacher training certificate in July 2017.</p>

      <p>Victoria brings a beautiful warm energy to each of her classes, ensuring all her students feel welcome and are comfortable within their practice.</p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/marnie.jpg" %}
    <h3 class="media-title">Marnie</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Marnie</h3>
    <div>
      <p>For over a decade Marnie has been performing as a professional contemporary dancer with a dedicated yoga practice as her main accompaniment. She believes yoga is similar to dance in its syncing of breath, movement and creative flow. Yoga has been her medicine, helping her maintain a healthy lifestyle and sustain a long career.</p>

      <p>Marnie is passionate about teaching and practicing a mindful sequential flow with a strong focus on alignment and full body awareness.</p>

      <p>What Marnie loves about yoga is how your experience is different everyday. She loves that it encourages acceptance and humility by challenging you to observe and move your body in the present moment without judgement.</p>

      <p>Marnie enjoys teaching because she is inspired by an individual’s journey and progression in their practice, and its potential to influence their life off the mat. She enjoys a space that brings people together to share breath, movement and positivity.</p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/chelsey.jpg" %}
    <h3 class="media-title">Chelsey</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Chelsey</h3>
    <em>
      <p>"I first began to practice yoga in 2015, as part of a fitness program. I had previously been ill and overweight for a number of years. While I was off to a slow start, I thoroughly enjoyed the way this practice felt in my body. A few months in I began to recognise the impact it had begun to have on my mind too. I was no longer anxious! I felt calmer and more content.</p>

      <p>After this realisation I was hungry to find out more about the history and philosophy behind this beautiful and ancient system. I knew at the end of my studies I couldn't wait to teach and share what I had learnt!</p>

      <p>I know that attending yoga classes can be intimidating for many but I strive to ensure students feel welcome and comfortable. I give variations for poses so that everyone is being challenged at their own level. My classes are very breath focused in order to cultivate a stronger connection between the mind and body."</p>
    </em>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/aaron.jpg" %}
    <h3 class="media-title">Aaron</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Aaron</h3>
    <div>
      <p>Aaron dedicated his life to movement. He has been doing a diversity of sports since he was 5 years old. After education as a physiotherapist, he went to Nepal and India for one year to further education in yoga, meditation and massages. He is drown to Acro Yoga, Yoga, Gymnastics, Slacklining, Parkour, Calisthenics and a variety of dance styles. The essence from all which is, is Yoga! Yoga is a Lifestyle.</p>

      <p>Every day he presents body and mind with technically coordinated challenges that are peppered with active fun. Like his explorational movement classes.</p>

      <p>Aaron’s energy represents includes imagination, effective communication, tolerance, joyfulness, optimism, and dynamism.</p>

      <p>The way Aaron teach is personalized. which means with his students, he encourage them to come back, that way Aaron can build them a style of practice that suits not only their body, but their mental capacity, and lifestyle.</p>
    </div>
  </div>
</div>

{% include components/media.html image="/assets/images/teachers/anakin.jpg" title="Anakin" body="Anakin is from Stockholm, Sweden with a background in engineering. He went to his first yoga class to balance a stagnant life in front of the computer. Naturally drawn to the practice the activity turned into a hobby and later developed into a lifestyle with mobility and movement in focus. After years of Yoga and Meditation practice he traveled to India to receive teacher training  and started instructing classes in 2018.<br/><br/>His own practice is multidisciplinary and this variety is reflected in his teachings where traditional elements of Hatha and Ashtanga Yoga is combined with practices from other fields. Acrobatics, Qi Gong, Movement and Breath work are often mixed with Yoga in a playful manner. The classes aim to inspire curiosity towards movement and have the students leave each class challenged and energised." %}
