---
layout: page
site-nav: posts
title:  "Posts"
permalink: /posts/
---

<h2 class="h5">Recent Blog Posts</h2>

<ul class="EventList margin-top-sm">
{% for post in site.categories['blog'] %}
	<li class="EventList-row">
		<a class="EventList-link {% if post.cover-image %}EventList-link--{{ post.cover-image }}{% endif %}" href="{{ post.url | prepend: site.baseurl }}">
			<p class="EventList-info">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
			<h3 class="EventList-title">{{ post.title }}</h3>
		</a>
	</li>
{% endfor %}
</ul>