---
layout: default
cover-image: timetable
title: Teachers
permalink: /teachers/
site-nav: teachers
h1: Our teachers
subtitle: >-
  All of our teachers are highly trained and can adapt any injuries you might have.
published: true
---

<div class="Longform">
  <div class="media">
    <div class="media-header">
      {% include components/media/image.html image="/assets/images/teachers/rua.jpg" %}
      <h3 class="media-title">Rua Hvitulv</h3>
    </div>
    <div class="media-body">
      <h3 class="media-title">Rua Hvitulv</h3>
      <div>
        <p>Rua is co-founder and owner of YogaRuka.</p>

        <p>From a history as a teacher of sciences, to a journalist writing about the Mafia in the heated Neapolitan metropolis, to a multi-disciplinary artist fiddling with print and the web, Rua has changed lives a few times over. The only thing that has stuck throughout is her passion for learning and sharing mindful experiences rather than just knowledge - and that’s how today she is a dedicated meditation facilitator, a stretch therapist and a multi-style yoga instructor.</p>

        <p>She is striving to teach - or perhaps even better, facilitate yoga, and movement - the way she would have always wanted to be taught. Her long-term goal is to gather around her a new generation of practitioners who think of yogaand all its offshoots critically, not superstitiously, who aspire to work healthily and live mindfully; to offer a resource for those who want to approach it from a different angle; to offer a space for those who have tried and failed to get into it many times before, to try once more.</p>

        <p><a class="link" href="https://vimeo.com/370278281">Watch a video of Rua’s class</a></p>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-header">
      {% include components/media/image.html image="/assets/images/teachers/morgan.jpg" %}
      <h3 class="media-title">Morgan</h3>
    </div>
    <div class="media-body">
      <h3 class="media-title">Morgan</h3>
      <div>
        <p>Morgan was a fairly unathletic child who found his way into a gym at age 20, where finally he thrived in a non-competitive environment. However, being unconditioned, he quickly collected some injuries. He turned to yoga, and then other methodologies like Stretch Therapy and Fighting Monkey, which not only rehabbed his injuries, but to his surprise turned him into someone “athletic”.</p>

        <p>His classes are a mix of everything he’s ever tried, as he believes variability is the key to good health and good movement.</p>

        <p><a class="link" href="https://vimeo.com/377763862">Watch a video of Morgan’s class</a></p>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-header">
      {% include components/media/image.html image="/assets/images/teachers/chris.jpg" %}
      <h3 class="media-title">Chris (Krzysztof)</h3>
    </div>
    <div class="media-body">
      <h3 class="media-title">Chris (Krzysztof)</h3>
      <div>
        <p>Chris grew up in Poland and has been practicing and studying yoga and dance for nearly 15 years. Chris was first introduced to yoga in Poland in 2006 as a part of his dance training, but it wasn't until 2012 when he made the yoga practice a part of his daily life and started to understand the true journey of the yogi.

        <p>Chris qualified to teach through the Woke Yoga, Potts Point (Sydney) under Lyndsey Benn. Chris specialises in Flow-Vinyasa but also accessible and trauma informed yoga. With the intention of creating a safe place for his students, Chris delivers classes that fuse breathe, creative and mindful movement, dance, rythm and music.</p>
        
        <p>Chris is also a concert artist and music teacher. As a musician Chris studied at universities in Poland, New York (USA), England (UK), Sydney and has won many national and international competitions, awards, scholarships and study grants. In March 2016 Chris was granted a Distinguished Talent Permanent Residency by the Australian Government.</p>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-header">
      {% include components/media/image.html image="/assets/images/teachers/jenna.jpg" %}
      <h3 class="media-title">Jenna</h3>
    </div>
    <div class="media-body">
      <h3 class="media-title">Jenna</h3>
      <div>
        <p>Hi my name is Jenna, my approach with teaching asana is the same approach I take with my health & wellness clients; respecting bio-individuality while engaging in functional movement that supports us day to day.</p>

        <p>My 14 year love affair with yoga began when I was able to develop a new relationship with my mind & body with less judgment of the outcome. As my curiosity grew so did my desire to learn all aspects of the ancient yoga system such as pranayama, meditation & Ayurveda. Seeing how it can be used in modern times has now become my passion and joy to share with others. With 1200 hours of teacher trainings under my belt I still am a student and students are my teachers.</p>

        <p>Come and join me for a breath centered practice that explores your own body’s movement and encourages safety, awareness and wellbeing.</p>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-header">
      {% include components/media/image.html image="/assets/images/teachers/gita.jpg" %}
      <h3 class="media-title">Gita</h3>
    </div>
    <div class="media-body">
      <h3 class="media-title">Gita</h3>
      <div>
        <p>Gita first started practising yoga in 2015 to find relaxation in the midst of a hectic working mother’s life.</p>

        <p>Along the practice, she found Yoga helped her not only to relax, but also improved her strength, her flexibility, and turned out to be a great tool to integrate body, mind and soul.</p>

        <p>From hot yoga, she gradually turned more to Vinyasa and Dynamic Hatha, and after a lot of self-exploration and attending different teacher trainings, she also involved Yin in her very Yang practice.</p>

        <p>Learning from the Yin Yang Theory, she parted with the absolutes and found a new sense of balance both on and off the mat.</p>

        <p>Her first accredited Yoga Teacher Training was in early 2018 in Jakarta, but her passion for yoga inspired her to continue to further educate, taking on a 100hr Yin Teacher Training with Yinspace in Sydney, a Restorative Yoga module with Sukha Mukha, a Jivamukti Spiritual Warrior set, a 50hr Meditation module with InYoga, a 50hr Prenatal /Postnatal Yoga with Sarah Moore and a 50hr Yin and Meditation with Dini Yoga. She is also currently training in Pilates techniques.</p>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-header">
      {% include components/media/image.html image="/assets/images/teachers/rebecca.jpg" %}
      <h3 class="media-title">Rebecca</h3>
    </div>
    <div class="media-body">
      <h3 class="media-title">Rebecca</h3>
      <div>
        <p>Rebecca completed her Vinyasa Yoga Teacher Training in early 2020 and has since done an additional Yin Yoga Teacher Training and a Pregnancy and post-birth yoga course. She has an extensive interest in anatomy and physiology, and is doing a continued mentorship with our Head Teacher at YogaRuka.</p>

        <p>She thoroughly believes in the beneficial impact of yoga on the physical body and for mental health as it’s helped her rehabilitate her own injuries, and she’s been witnessing the impact it's had on her students through this past year, and others.</p>
      </div>
    </div>
  </div>
  
  <div class="media">
    <div class="media-header">
      {% include components/media/image.html image="/assets/images/teachers/andrew.jpg" %}
      <h3 class="media-title">Andrew</h3>
    </div>
    <div class="media-body">
      <h3 class="media-title">Andrew</h3>
      <div>
        <p>Andrew is a certified 200 hour yoga teacher in Vinyasa. He has also completed an additional 200 hours of study in alignment and assists, meditation and yoga philosophy.</p>

        <p>Andrew first discovered yoga while living in Singapore. Yoga was an incredible counter balance to his training in Muay Thai and to offset the stresses of corporate life. Andrew completed his teacher training in Sydney to deepen his practice and to be able to share the benefits of yoga with others. His classes emphasise a connection with breathing above all. He is passionate about assisting and deepening the practice of his students with correct alignment and physical assists.</p>

        <p>Andrew teaches part-time and assists weekly in large, advanced classes. His favourite pose is Triangle and he can usually be found with his mat close to an open window. Students can expect chilled but challenging classes,peppered with traditional yoga themes and philosophy and most importantly, a sense of humour.</p>
      </div>
    </div>
  </div>
</div>