<div class="carousel">
	<div class="carousel-frame">
		<ul class="carousel-list">
			{% if include.image1 %}
				<li class="carousel-listItem">
					<img src="{{ include.image1 }}">
					<figcaption>
						{% if include.image1_title %}
							<h3>{{ include.image1_title }}</h3>
						{% endif %}
						{% if include.image1_caption %}
							<p>{{ include.image1_caption }}</p>
						{% endif %}
					</figcaption>
				</li>
			{% endif %}
			{% if include.image2 %}
				<li class="carousel-listItem">
					<img src="{{ include.image2 }}">
					<figcaption>
						{% if include.image2_title %}
							<h3>{{ include.image2_title }}</h3>
						{% endif %}
						{% if include.image2_caption %}
							<p>{{ include.image2_caption }}</p>
						{% endif %}
					</figcaption>
				</li>
			{% endif %}
			{% if include.image3 %}
				<li class="carousel-listItem">
					<img src="{{ include.image3 }}">
					<figcaption>
						{% if include.image3_title %}
							<h3>{{ include.image3_title }}</h3>
						{% endif %}
						{% if include.image3_caption %}
							<p>{{ include.image3_caption }}</p>
						{% endif %}
					</figcaption>
				</li>
			{% endif %}
			{% if include.image4 %}
				<li class="carousel-listItem">
					<img src="{{ include.image4 }}">
					{% if include.image4_caption %}
						<figcaption>
							<p class="js-carouselItemCaption">{{ include.image4_caption }}</p>
						</figcaption>
					{% endif %}
				</li>
			{% endif %}
			{% if include.image5 %}
				<li class="carousel-listItem">
					<img src="{{ include.image5 }}">
					{% if include.image5_caption %}
						<figcaption>
							<p class="js-carouselItemCaption">{{ include.image5_caption }}</p>
						</figcaption>
					{% endif %}
				</li>
			{% endif %}
		</ul>
	</div>
	<div class="carousel-scrollbar">
		<div class="carousel-scrollbarHandle"></div>
	</div>
	<!-- <div class="carousel-buttons">
		<button class="carousel-button carousel-button--prev"></button>
		<button class="carousel-button carousel-button--next"></button>
	</div> -->
</div>