<form class="form" id="form">
	<div class="form-group margin-bottom-md">
		<p class="u-text-center">Sign up to get notified as soon as this retreat goes on sale! We'll never give your email away.</p>
	</div>

	<div class="form-feedback" id="form-feedback"></div>
	
	<div class="form-group margin-top-0">
		<input class="input" type="text" id="form-name" placeholder="Name">
	</div>

	<div class="form-group">
		<input class="input" type="email" id="form-email" placeholder="Email address">
	</div>

	<input class="input" type="hidden" id="form-message" value="This is an expression of interest">

	<div class="form-group">
		<button class="" id="form-submit">Submit</button>
	</div>
</form>