<footer class="Footer">
  <div class="container container--sm m-bottom--xl">
    {% include components/newsletter-form.html %}
  </div>

  <div class="Footer-sitemap">
    <ul class="Footer-links">
      <li>
        <a href="/private-classes/">Private Stretch and Yoga Classes</a>
      </li>
      <li>
        <a href="/corporate-classes/">Corporate Stretch and Yoga Classes</a>
      </li>
      <li>
        <a href="/studio-rental-russell-lea/">Studio rental in Russell Lea</a>
      </li>
      <li>
        <a href="/yoga-studio-in-five-dock/">Yoga studio in Five Dock</a>
      </li>
      <li>
        <a href="/yoga-studio-in-drummoyne/">Yoga studio in Drummoyne</a>
      </li>
      <li>
        <a href="/yoga-studio-in-abbotsford/">Yoga studio in Abbotsford</a>
      </li>
      <li>
        <a href="/pilates-studio-in-drummoyne/">Pilates studio in Drummoyne</a>
      </li>
      <li>
        <a href="/pilates-studio-in-five-dock/">Pilates studio in Five Dock</a>
      </li>
      <li>
        <a href="/therapy-room-rental/">Therapy Room Rental in Russell Lea</a>
      </li>
      <li>
        <a href="/massage-room-rental/">Massage Room Rental in Russell Lea</a>
      </li>
      <li>
        <a href="/clinic-room-rental/">Clinic Room Rental in Russell Lea</a>
      </li>
    </ul>
  </div>

  <ul>
    <li>
      <a href="https://www.facebook.com/yogaruka/" target="_blank">
        <img src="/assets/icons/facebook.svg" alt="Facebook">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/yogaruka/" target="_blank">
        <img src="/assets/icons/instagram.svg" alt="Instagram">
      </a>
    </li>
  </ul>

  © 2015-2022 YogaRuka. All rights reserved. <a href="/terms-and-conditions/">Terms and conditions</a> apply.
</footer>
