<footer class="Footer">
  <div class="container container--sm m-bottom--xl">
    {% include components/newsletter-form.html %}
  </div>

  <div class="Footer-sitemap">
    <ul class="Footer-links">
      <li>
        <a href="/private-classes/">Private Stretch and Yoga Classes</a>
      </li>
      <li>
        <a href="/corporate-classes/">Corporate Stretch and Yoga Classes</a>
      </li>
      <li>
        <a href="/clinic-room-rental/">Clinic Room Rental</a>
      </li>
      <li>
        <a href="/massage-room-rental/">Massage Room Rental</a>
      </li>
      <li>
        <a href="/therapy-room-rental/">Therapy Room Rental</a>
      </li>
    </ul>
  </div>

  <ul>
    <li>
      <a href="https://www.facebook.com/yogaruka/" target="_blank">
        <img src="/assets/icons/facebook.svg">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/yogaruka/" target="_blank">
        <img src="/assets/icons/instagram.svg">
      </a>
    </li>
  </ul>

  © 2015-2021 YogaRuka. All rights reserved. <a href="/terms-and-conditions/">Terms and conditions</a> apply.
</footer>