<footer class="Footer">
  {% include newsletter-signup.html %}

  <ul>
    <li>
      <a href="https://www.facebook.com/yogaruka/" target="_blank">
        <img src="/assets/icons/facebook.svg">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/yogaruka/" target="_blank">
        <img src="/assets/icons/instagram.svg">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/yogarukastudio" target="_blank">
        <img src="/assets/icons/twitter.svg">
      </a>
    </li>
  </ul>

  © 2015-2019 YogaRuka. All rights reserved. <a href="/terms-and-conditions/">Terms and conditions</a> apply.
</footer>