<header class="Header u-text-antialiase">
	<nav class="Header-nav">
		<a class="Header-link is-logo hidden-xs" href="{{ site.baseurl }}/">
			<span class="Header-logo">{{ site.title }}</span>
		</a>
		<a class="Header-link {% if page.site-nav == 'yoga' %}active{% endif %}" href="/yoga/">
			<span class="Header-linkText">Yoga</span>
		</a>
		<a class="Header-link {% if page.site-nav == 'events' %}active{% endif %}" href="/events/">
			<span class="Header-linkText">Events</span>
		</a>
		<a class="Header-link {% if page.site-nav == 'posts' %}active{% endif %}" href="/posts/">
			<span class="Header-linkText">Posts</span>
		</a>
		<a class="Header-link {% if page.site-nav == 'about' %}active{% endif %}" href="/about/">
			<span class="Header-linkText">About</span>
		</a>
		<a class="Header-link {% if page.site-nav == 'contact' %}active{% endif %}" href="/contact/">
			<span class="Header-linkText">Contact</span>
		</a>
	</nav>
	<div class="Header-social">
		<a class="Header-link is-social" href="https://www.facebook.com/yogaruka/">
			<img class="Header-socialImg" src="/assets/icons/facebook-dark.svg">
		</a>
		<a class="Header-link is-social" href="https://www.instagram.com/yogaruka/">
			<img class="Header-socialImg" src="/assets/icons/instagram-dark.svg">
		</a>
		<a class="Header-link is-social" href="https://twitter.com/yogarukastudio">
			<img class="Header-socialImg" src="/assets/icons/twitter-dark.svg">
		</a>
	</div>
</header>