<header class="Header">
	<div class="container Header-container">
		<img src="/assets/images/new/header-logo.svg" class="Header-logo">

		<nav class="Header-nav Header-nav--desktop">
			<a class="Header-link {% if page.site-nav == 'home' %}now-active{% endif %}" href="/home/">Home</a>
			<a class="Header-link {% if page.site-nav == 'about' %}now-active{% endif %}" href="/about/">About</a>
			<a class="Header-link {% if page.site-nav == 'timetable' %}now-active{% endif %}" href="/timetable/">Timetable</a>
			<a class="Header-link {% if page.site-nav == 'prices' %}now-active{% endif %}" href="/prices/">Prices</a>
			<a class="Header-link {% if page.site-nav == 'contact' %}now-active{% endif %}" href="/contact/">Contact</a>
		</nav>

		<aside class="Header-actions">
			<a class="Header-actionLink">
				289 Lyons Road
			</a>
			<a class="Header-actionLink">
				9705 1551
			</a>
		</aside>
	</div>
</header>

<div class="Header-mobileNavWrapper">
	<nav class="Header-nav Header-nav--mobile">
		<a class="Header-link {% if page.site-nav == 'home' %}now-active{% endif %}" href="/home/">Home</a>
		<a class="Header-link {% if page.site-nav == 'about' %}now-active{% endif %}" href="/about/">About</a>
		<a class="Header-link {% if page.site-nav == 'timetable' %}now-active{% endif %}" href="/timetable/">Timetable</a>
		<a class="Header-link {% if page.site-nav == 'prices' %}now-active{% endif %}" href="/prices/">Prices</a>
		<a class="Header-link {% if page.site-nav == 'contact' %}now-active{% endif %}" href="/contact/">Contact</a>
	</nav>
</div>