<article class="m-prices">
	<ul class="m-prices-list clearfix">
		<li class="m-prices-price">
			<div class="m-prices-priceName">Merudanda + Bandha (17th & 18th):</div>
			<div class="m-prices-priceValue">
				<strong>£70</strong>
			</div>
		</li>
		<li class="m-prices-price">
			<div class="m-prices-priceName">Merudanda only (17th):</div>
			<div class="m-prices-priceValue">
				£40
			</div>
		</li>
		<li class="m-prices-price">
			<div class="m-prices-priceName">Bandha only (18th):</div>
			<div class="m-prices-priceValue">
				£40
			</div>
		</li>
	</ul>
	<hr class="margin-top-sm">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="m-prices-form margin-top-sm">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="ZNQTCNNUFBS3N">
		<table>
			<tr>
				<td class="u-text-center">
					<input type="hidden" name="on0" value="Attendance:">
					I want to attend:
				</td>
			</tr>
			<tr>
				<td>
					<select name="os0">
						<option value="Bandha + Merudanda (17th & 18th)">Bandha + Merudanda (17th & 18th) £72.80 GBP</option>
						<option value="Merudanda only (17th)">Merudanda only (17th) £41.60 GBP</option>
						<option value="Bandha only (18th)">Bandha only (18th) £41.60 GBP</option>
					</select>
				</td>
			</tr>
		</table>
		<div class="m-price-depositDetails margin-top-sm">4% (£7.50) processing fee will be added before payment</div>
		<div class="margin-top-sm">
			<input type="hidden" name="currency_code" value="GBP">
			<input type="image" src="/assets/images/retreats/paypal-btn.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" class="margin-top-0">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" class="margin-top-0">
		</div>
	</form>
</article>