<article class="m-prices">
	<ul class="m-prices-list clearfix">
		<li class="m-prices-price">
			<div class="m-prices-priceName">Merudanda + Bandha (17th & 18th):</div>
			<div class="m-prices-priceValue">
				<strong>£80</strong>
			</div>
		</li>
		<li class="m-prices-price">
			<div class="m-prices-priceName">Merudanda only (17th):</div>
			<div class="m-prices-priceValue">
				£45
			</div>
		</li>
		<li class="m-prices-price">
			<div class="m-prices-priceName">Bandha only (18th):</div>
			<div class="m-prices-priceValue">
				£45
			</div>
		</li>
	</ul>

	<div class="row margin-top-sm">
		<div class="col-md-8 col-md-push-2">
			<ul class="tabs">
				<li class="tabs-listItem active">
					<a class="tabs-link" href="#pay-with-paypal">Pay with PayPal</a>
				</li>
				<li class="tabs-listItem">
					<a class="tabs-link" href="#pay-with-cash">Pay in Cash</a>
				</li>
			</ul>

			<div class="tabs-content">
				<div class="tabs-pane active" id="pay-with-paypal">
					<div class="m-price-depositDetails">4% processing fee will be added before payment</div>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="m-prices-form margin-top-sm">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="ZNQTCNNUFBS3N">
						<table class="margin-bottom-sm">
							<tr>
								<td class="u-text-center">
									<input type="hidden" name="on0" value="Attendance:">
									I want to attend:
								</td>
							</tr>
							<tr>
								<td>
									<select name="os0">
										<option value="Bandha + Merudanda (17th & 18th)">Bandha + Merudanda (17th & 18th)</option>
										<option value="Merudanda only (17th)">Merudanda only (17th)</option>
										<option value="Bandha only (18th)">Bandha only (18th)</option>
									</select>
								</td>
							</tr>
						</table>
						<input type="hidden" name="currency_code" value="GBP">
						<input type="image" src="/assets/images/retreats/paypal-btn.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" class="margin-top-0">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" class="margin-top-0">
					</form>
				</div>
				<div class="tabs-pane" id="pay-with-cash">
					<form id="form">
						<div class="m-form-feedback" id="form-feedback"></div>
					
						<div class="form-group margin-top-0">
							<input class="form-control" type="text" id="form-name" name="fname" placeholder="Name">
						</div>

						<div class="form-group">
							<input class="form-control" type="email" id="form-email" name="email" placeholder="Email address">
						</div>

						<div class="form-group u-text-center">
							I want to attend:
							<select id="form-choice">
								<option value="Both Bandha and Merudanda">Bandha + Merudanda (17th & 18th)</option>
								<option value="Merudanda only">Merudanda only (17th)</option>
								<option value="Bandha only">Bandha only (18th)</option>
							</select>
						</div>

						<div class="form-group">
							<button class="" id="form-submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</article>