<article class="m-prices">
	<div class="m-prices-date">Sunday 1<span class="hidden-sm">st</span> May - Saturday 7<span class="hidden-sm">th</span> May 2016</div>
	<ul class="m-prices-list clearfix">
		<li class="m-prices-price disabled">
			<div class="m-prices-priceName">Very Early Bird (until 7 Jan):</div>
			<div class="m-prices-priceValue">
				<strong>£550</strong> <span class="hidden-sm">(15% off)</span>
			</div>
		</li>
		<li class="m-prices-price disabled">
			<div class="m-prices-priceName">Early Bird (until 14 Feb):</div>
			<div class="m-prices-priceValue">
				<strong>£585</strong> <span class="hidden-sm">(10% off)</span>
			</div>
		</li>
		<li class="m-prices-price active">
			<div class="m-prices-priceName">Regular Price:</div>
			<div class="m-prices-priceValue">
				<strong>£650</strong></span>
			</div>
		</li>
	</ul>

	<hr class="margin-top-sm">

	<div class="m-price-deposit margin-top-sm">Initial Deposit: <strong>£125</strong></div>
	<div class="m-price-depositDetails margin-top-0">4% processing fee will be added before payment</div>

	<div class="margin-top-sm">
		{% include paypal-btn.html %}
	</div>

</article>
