<form class="form m-top--md" id="form">
	<div class="form-feedback" id="form-feedback"></div>
	
	<div class="form-group margin-top-0">
		<input class="input" type="text" id="form-name" name="fname" placeholder="Name">
	</div>

	<div class="form-group">
		<input class="input" type="email" id="form-email" name="email" placeholder="Email address">
	</div>

	<div class="form-group">
		<textarea class="input" rows="3" id="form-message" placeholder="Message"></textarea>
	</div>

	<div class="form-group">
		<button class="" id="form-submit">Submit</button>
	</div>
</form>