.m-accordion-list {
	display: none;
}
.m-accordion-icon {
	position: relative;
	background: $blue-45;
	border-radius: 50%;
	width: 44px;
	height: 44px;
    vertical-align: middle;
    display: inline-block;
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}
.m-accordion-title {
	margin-left: 5px;
	position: relative;
	top: 4px;
	white-space: nowrap;
}
.m-accordion-content {
	> li {
		position: relative;
		margin-top: 3rem;
	}
}

@media (max-width: 768px) {
	.m-accordion-image {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 768px) {
	.m-accordion-content {
		margin-left: auto;
		margin-right: auto;
		> li {
			@include clearfix();
		}
	}
	.m-accordion-image {
		float: left;
		max-width: 480px;
		&.right {
			float: right;
		}
	}
}
@media (min-width: 1024px) {
	.m-accordion-image {
		max-width: 420px;
		&.right {
			float: right;
			margin-right: -100px;
		}
		&:not(.right) {
			float: left;
			margin-left: -100px;
		}
	}
}
@media (min-width: 1280px) {
	.m-accordion-image {
		max-width: 480px;
	}
}