.Page-heroImage {
}
.Page-heroImage--home {
	// background-image: url('/assets/images/cover-images/home.jpg');
}
.Page-heroImage--yoga {
	background-image: url('/assets/images/cover-images/yoga-2.jpg');
}
.Page-heroImage--prices {
	background-image: url('/assets/images/cover-images/prices.jpg');
}
.Page-heroImage--events {
	background-image: url('/assets/images/cover-images/events.jpg');
}
.Page-heroImage--posts {
	background-image: url('/assets/images/cover-images/posts.jpg');
}
.Page-heroImage--about {
	background-image: url('/assets/images/cover-images/about.jpg');
}
.Page-heroImage--contact {
	background-image: url('/assets/images/cover-images/contact.jpg');
}
.Page-heroImage--rua {
	background-image: url('/assets/images/cover-images/rua.jpg');
}
.Page-heroImage--karen {
	background-image: url('/assets/images/cover-images/karen.jpg');
}


.Page-heroImage--yoga-sm {
	background-image: url('/assets/images/cover-images/yoga-sm.jpg');
}
.Page-heroImage--events-sm {
	background-image: url('/assets/images/cover-images/events-sm.jpg');
}
.Page-heroImage--about-sm {
	background-image: url('/assets/images/cover-images/about-sm.jpg');
}
.Page-heroImage--contact-sm {
	background-image: url('/assets/images/cover-images/contact-sm.jpg');
}

.Page-heroImage--retreatSpain {
	background-image: url('/assets/images/retreats/2016-may-spain/cover.jpg');
}
.Page-heroImage--retreatMorocco {
	background-image: url('/assets/images/retreats/2016-september-morocco/cover.jpg');
}
.Page-heroImage--blogSpain {
	background-image: url('/assets/images/blog/spain-review/cover.jpg');
}
.Page-heroImage--workshopPlymouthBandha {
	background-image: url('/assets/images/workshops/plymouth-bandha/cover.jpg');
}
.Page-heroImage--workshopPlymouthMerudanda {
	background-image: url('/assets/images/workshops/plymouth-merudanda/cover.jpg');
}

.EventList-link--workshopPlymouthMerudanda:after {
	background-image: url('/assets/images/workshops/plymouth-merudanda/thumbnail.jpg');
}
.EventList-link--retreatSpain:after {
	background-image: url('/assets/images/retreats/2016-may-spain/thumbnail.jpg');
}
.EventList-link--workshopPlymouthBandha:after {
	background-image: url('/assets/images/workshops/plymouth-bandha/thumbnail.jpg');
}
.EventList-link--blogSpain:after {
	background-image: url('/assets/images/blog/spain-review/thumbnail.jpg');
}
.EventList-link--retreatMorocco:after {
	background-image: url('/assets/images/retreats/2016-september-morocco/thumbnail.jpg');
}

