.Page-heroImage {
}
.Page-heroImage--home {
	// background-image: url('/assets/images/cover-images/home.jpg');
}
.Page-heroImage--timetable {
	background-image: url('/assets/images/cover-images/timetable.jpg');
}
.Page-heroImage--prices {
	background-image: url('/assets/images/cover-images/prices.JPG');
}
.Page-heroImage--additionalServices {
	background-image: url('/assets/images/cover-images/additional-services.jpg');
}
.Page-heroImage--about {
	background-image: url('/assets/images/cover-images/about.jpg');
}
.Page-heroImage--contact {
	background-image: url('/assets/images/cover-images/contact.jpg');
}
