.m-blog-article {
	.m-review-listItem,
	.m-blog-imageWrapper,
	p {
		margin-left: auto;
		margin-right: auto;
	}
	.m-review-listItem,
	.m-blog-imageWrapper {
		max-width: 32rem;
	}
	> h3,
	> h4 {
		text-align: center;
		clear: both;
	}
	blockquote {
		background: none;
		padding: 0;
		p {
			padding-left: 1em;
			border-left: 2px solid;
		}
		+ blockquote {
			margin-top: 0;
			p {
				padding-top: 1.5em;
			}
		}
	}
}
.m-blog-image {
	width: 100%;
	max-width: 480px;
	float: left;
	&.right {
		float: right;
	}
}

@media (min-width: 1024px) {
	.m-blog-image {
		margin-top: 0;
	}
	.m-blog-image:not(.right) {
	    margin-left: -100px;
	}
	.m-blog-image.right {
	    margin-right: -100px;
	}
}