.Blog-imageWrapper {
	margin-top: $spacing-md;
}
.Blog-image {
	width: 100%;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	&.image-small {
		max-width: 320px;
	}
}

@media (min-width: 1024px) {
	.Blog-image {
		margin-top: 0;
		margin-left: 1rem;
		margin-right: 1rem;
		float: left;
		&.right {
			float: right;
		}
	}
	.Blog-image:not(.right) {
	    margin-left: -100px;
	}
	.Blog-image.right {
	    margin-right: -100px;
	}
}