.background,
.m-hero-photo {
	background-image: url('/assets/images/home/video.jpg');
}
.coverImage-about {
	background-image: url('/assets/images/about.jpg');
}
.coverImage-retreatSpain {
	background-image: url('/assets/images/retreats/2016-may-spain/cover.jpg');
}
.coverImage-retreatSpain-sm:after {
	background-image: url('/assets/images/retreats/2016-may-spain/thumbnail.jpg');
}