.background,
.m-hero-photo {
	background-image: url('/assets/images/home/video.jpg');
}
.coverImage-about {
	background-image: url('/assets/images/about.jpg');
}
.coverImage-retreat {
	background-image: url('/assets/images/retreat/cover.jpg');
}