body {
	padding-top: 44px;
}
.Header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: white;
	margin-top: 0;
	height: 44px;
	@include flexbox();
	@include justify-content(space-between);
	@include align-items(center);
}
.Header-nav {
	@include flexbox();
	@include justify-content(space-around);
	width: 100%;
	height: 100%;
}
.Header-link {
	position: relative;
	display: inline;
	line-height: 1.2;
	&:hover .Header-linkText {
		border-bottom: 2px solid;
	}
	&.active {
		.Header-linkText {
			color: $pink;
			border-bottom: 2px solid;
		}
	}
}
.Header-logo {
	display: inline-block;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	margin-top: 4px;
	background: url('/assets/icons/logo-dark.svg');
	background-size: cover;
}
.Header-linkText {
	display: inline-block;
	font-family: $font-sans;
	text-decoration: none;
	color: inherit;

	font-size: 11px;
	font-weight: 600;
	margin-top: 15px;
	text-transform: uppercase;
	img {
		width: 1em;
	}
}
.Header-social {
	display: none;
	margin-top: 0;
}
.Header-socialImg {
	width: 14px;
	margin-top: 15px;
}
.Header-title {
	display: none;
	color: inherit;
	font-family: $font-sans;
	text-decoration: none;
}
#home {
	.Header {
		display: none;
	}
}

@media (min-width: 480px) {
	.Header {
		padding: 0 $rhythm / 2;
	}
	.Header-nav {
		width: auto;
	}
	.Header-social {
		@include flexbox();
		height: 100%;
	}
	.Header-link {
		+ .Header-link {
			margin-left: $rhythm / 1.5;
		}
	}
}

@media (min-width: 768px) {
	body {
		padding-top: 0;
	}
	.Header {
		background: none;
		height: $rhythm;
		position: absolute;
		top: -$rhythm;
		padding: 0;
	}
	.Header-logo {
		width: 23px;
		height: 23px;
		margin-top: 2px;
	}
	.Header-linkText {
		font-size: 12px;
		margin-top: 6px;
	}
	.Header-socialImg {
		width: 15px;
		margin-top: 6px;
	}
}

@media (min-width: 1024px) {
	.Header {
		top: -$rhythm * 1.5;
		height: $rhythm * 1.5;
	}
	.Header-logo {
		width: 1.7em;
		height: 1.7em;
		margin-top: 0.33em;
	}
	.Header-linkText {
		font-size: 0.8em;
		margin-top: 0.8em;
		text-transform: none;
	}
	.Header-socialImg {
		width: 1em;
		margin-top: 0.67em;
	}
}