.Header {
	background: black;
	padding: 12px $spacing-md;
	z-index: 2;
}

.Header-container {
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

.Header-logo {
  display: block;
	width: 108px;
	height: 32px;
}

.Header-mobileNavWrapper {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: rgba(black, 0.5);
	z-index: 3;
}

.Header-nav {
	@include flexbox();
	@include justify-content(space-between);
	padding: 0 #{$spacing-md - $spacing-xs};
}
.Header-nav--mobile {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.Header-nav--desktop {
	display: none;
}

.Header-link,
.Header-actionLink {
	color: white;
	font-size: 12px;
	font-family: $font-system;
}

.Header-link {
	font-weight: 500;
	padding: 0 $spacing-xs;
	line-height: $header-nav-mobile-height;
	&.now-active {
		color: rgba(white, 0.5);
	}
}

.Header-actions {
	@include flexbox();
	@include align-items(flex-end);
	@include flex-direction(column);
	margin: -6px 0;
}

.Header-actionLink {
	@include flexbox();
	@include align-items(center);
	text-decoration: underline;
	text-decoration-color: rgba(white, 0.5);
	padding: $spacing-xxs 0;
	&:hover {
		text-decoration-color: white;	
		.Header-actionIcon {
			opacity: 1;
		}
	}
}

.Header-actionIcon {
	margin-right: $spacing-xxs;
	opacity: 0.8;
	width: 14px;
	height: 14px;
  overflow: visible !important;
}

@media (min-width: $media-tablet) {
	.Header {
		background: rgba(black, 0.5);
		position: fixed;
		top: $global-cta-desktop-height;
		left: 0;
		right: 0;
    padding: 0 $spacing-lg;
	}
	.Header-nav--desktop {
		display: block;
	}
	.Header-nav--mobile {
		display: none;
	}

	.Header-link {
		font-size: 14px;
		line-height: $header-nav-desktop-height;
		padding: 0 $spacing-sm;
	}
}