.Hero {
	position: relative;
	overflow: hidden;
	background: rgba(black, 0.25);
	padding: $rhythm * 2 $rhythm / 2;
	z-index: 1;
	+ section {
		margin-top: $rhythm;
	}
}
.Hero-text {
	color: white;
	text-shadow: 0 2px 4px rgba(black,0.2)
}
.Hero-photo {
	position: relative;
	background: $brown-30;
	background-size: cover;
	background-position: top center;
	margin: 0;
	position: absolute;
	top: -$rhythm * 2;
	left: -$rhythm * 2;
	right: -$rhythm * 2;
	min-height: calc(100% + #{$rhythm * 2});
	height: 100vh;
	z-index: -1;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(black, 0.25);
	}
}

@media (min-width: 768px) {
	.Hero {
		padding: $rhythm * 6 $rhythm * 3;
	}
}
@media (min-width: 1024px) {
	.Hero-photo {
		top: -$rhythm * 3;
		left: -$rhythm * 3;
		right: -$rhythm * 3;
		min-height: calc(100% + #{$rhythm * 3});
	}
}