#home {
	position: static;
	.border-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(black, 0.5);

		display: table;
		width: 100%;
		height: 100%;
	}
	.m-footer {
		display: none;
	}
	#content {
		display: table-cell;
		vertical-align: middle;
	}
}
.m-home-video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 0;
	pointer-events: none;
	z-index: -1;
}
.m-home-header {
	text-align: center;
}
.m-home-logo {
	display: inline-block;
	text-indent: -9999px;
	background: url('/assets/images/logo.svg');
	background-size: cover;
	width: 200px;
	height: 200px;
}

.m-home-nav {
	text-align: center;
}
.m-home-link {
	display: block;
	color: white;
	font-family: $font-sans;
	font-size: 1.33rem;
	text-decoration: none;
	vertical-align: top;
	+ .m-home-link {
		margin-top: $rhythm;
	}
	&,
	.no-touch &:focus,
	.no-touch &:hover,
	.touch &:active {
		background: none;
	}
	.no-touch &:focus,
	.no-touch &:hover,
	.touch &:active {
		color: $pink;
	}
	img {
		width: 1em;
	}
}

@media (min-width: 768px) {
	#home .border-container {
		width: calc(100% - 3rem);
		height: calc(100% - 3rem);
	}
}
@media (min-width: 1024px) {
	#home .border-container {
		display: block;
	}

	.m-home-header {
		position: absolute;
		top: $rhythm;
		left: $rhythm;
		h1,
		h2 {
			text-align: left;
		}
	}

	.m-home-nav {
		position: absolute;
		bottom: $rhythm;
		right: $rhythm;
	}
	.m-home-link {
		display: inline-block;
		border-bottom: 2px solid transparent;
		.no-touch &:focus,
		.no-touch &:hover,
		.touch &:active {
			border-color: initial;
		}
		+ .m-home-link {
			margin-top: 0;
			margin-left: $rhythm;
		}
	}
	.m-home-link--fb {
		border: none !important;
		padding: 1px 0;
	}
}

@media (min-width: 1024px) {
	#home .border-container {
		width: calc(100% - 4.5rem);
		height: calc(100% - 4.5rem);
	}
}