.Home-intro {
  color: white;
  background: $text-dark;
  text-align: center;

  padding: $spacing-md;

  @media (min-width: $media-tablet) {
    margin-left: 0;
    margin-right: 0;
  }
  .link {
    color: lighten($link, 10%);
  }
}