.Home-intro {
  border: 1px solid $border-light;
  text-align: center;

  padding: $spacing-md;

  @media (min-width: $media-tablet) {
    margin-left: 0;
    margin-right: 0;
  }
  .link {
    color: lighten($link, 10%);
  }
}

.Home-banner {
  position: relative;
  margin-bottom: $spacing-xl;
  padding: $spacing-xl $spacing-md;
  background: black;
  z-index: 1;
  h3 {
    color: white;
    margin: 0;
    text-align: center;
  }
}

.Home-callout {
  color: white;
  position: relative;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
  margin-bottom: $spacing-xl;
  border-top: none;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    background: $text-dark;
    z-index: -1;
  }
}

.Home-bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
  overflow: hidden;

  background-image: url('/assets/images/home/banner.jpg');
  background-size: cover;
  background-position: center left;
}