.Home {
  section + section { 
    border: none;
    padding-top: 0;
  }
}

.Home-intro {
  text-align: center;
  padding-bottom: $spacing-lg;
  border-bottom: 1px solid $border-light;
  h2 {
    @extend .font-body;
    font-weight: 600;
  }
  @media (min-width: $media-sm) {
    padding: $spacing-lg;
    border: 1px solid $border-light;
  }
  @media (min-width: $media-xl) {
    padding: $spacing-xl;
  }
}

.Home-banner {
  position: relative;
  padding: $spacing-md;
  color: white;
  background: black;
  z-index: 1;
  img {
    width: 256px;
    object-fit: cover;
    margin-bottom: $spacing-sm;
  }
  h2 {
    margin: 0;
    @extend .font-title;
  }
  p {
    @extend .font-sans;
    color: $inverted-soft;
    margin-bottom: 24px;
  }
  @media (min-width: $media-sm) {
    @include flexbox();
    padding: 32px;
    img {
      margin-bottom: 0;
      margin-right: $spacing-lg;
    }
  }
}

.Home-sideBySide {
  margin-left: -$spacing-md;
  margin-right: -$spacing-md;
  div {
    position: relative;
    height: 200px;
    img {
      position: absolute;
      inset: 0;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    padding: $spacing-md;
    @extend .font-title;
    font-size: 1.25rem;
    background: rgba($text-dark, 0.05);
  }

  @media (min-width: $media-md) {
    margin-left: -$spacing-lg;
    margin-right: -$spacing-lg;
  }
  @media (min-width: $media-lg) {
    @include flexbox();
    div, p {
      width: 50%;
    }
    div {
      position: relative;
      height: auto;
      img {
        position: absolute;
        inset: 0;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      padding: 128px 64px;
      font-size: 28px;
      background: rgba($text-dark, 0.05);
    }
  }
  @media (min-width: 1340px) {
    margin: 0;
  }
}

.Home-bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
  overflow: hidden;

  background-image: url('/assets/images/home/banner.jpg');
  background-size: cover;
  background-position: center left;
}