.JumpLinks {
  position: relative;
  z-index: 1;
  background: white;
  box-shadow: 0 0 0 1px $border-light;
  padding: $spacing-md;
  max-width: $container-xs;
  margin-top: -48px;
  margin-bottom: $spacing-xl;
  h5 {
    margin-bottom: $spacing-xs;
  }
  ul li + li {
    margin-top: $spacing-xs;
  }
  a {
    display: flex;
    @extend .font-sans;
    text-decoration: none;
    &:hover div {
      text-decoration: underline;
    }
  }
  span {
    width: $spacing-sm;
    text-align: center;
    font-weight: 600;
    margin-right: $spacing-xxs;
  }
}

@media (min-width: $media-tablet) {
  .JumpLinks {
    margin-top: -96px;
  }
}