.Longform {
	a {
		@extend .link;
	}
	h1,
	h2,
	h3,
	h4 {
		clear: both;
		&:not(:first-child) {
			margin-top: $spacing-xl;
		}
    margin-bottom: $spacing-xs;
	}
  h1 {
    // font-size: 3rem;
  }
  h2 {
    // font-size: 2rem;
  }
  h3,
  h4 {
    // font-size: 1.25rem;
  }
}

.Longform--blogpost {
  max-width: $container-sm;
  margin-left: auto;
  margin-right: auto;
	ol,
	ul {
		@extend .list-bullets;
	}
	.review-listItem,
	.Blog-imageWrapper {
		max-width: 40rem;
	}
	blockquote {
		background: none;
		padding: 0;
		p {
			padding-left: 1em;
			border-left: 2px solid;
		}
		+ blockquote {
			margin-top: 0;
			p {
				padding-top: 1.5em;
			}
		}
	}
}

.Longform--center {
	.review-listItem,
	.Blog-imageWrapper,
	p,
	ul {
		margin-left: auto;
		margin-right: auto;
	}
	> h2,
	> h3,
	> h4 {
		text-align: center;
		clear: both;
	}
}