.Longform {
	a {
		@extend .link;
	}
	h1,
	h2,
	h3,
	h4 {
		clear: both;
		&:not(:first-child) {
			margin-top: 1.5em;
		}
	}
}
.Longform--blogpost {
	ol,
	ul {
		@extend .list-bullets;
	}
	.m-review-listItem,
	.m-blog-imageWrapper {
		max-width: 32rem;
	}
	blockquote {
		background: none;
		padding: 0;
		p {
			padding-left: 1em;
			border-left: 2px solid;
		}
		+ blockquote {
			margin-top: 0;
			p {
				padding-top: 1.5em;
			}
		}
	}
}
.Longform--center {
	.m-review-listItem,
	.m-blog-imageWrapper,
	p,
	ul {
		margin-left: auto;
		margin-right: auto;
	}
	> h2,
	> h3,
	> h4 {
		text-align: center;
		clear: both;
	}
}