.m-doubleExposure {
	position: absolute;
	max-width: 640px;
	z-index: -1;
	bottom: 10%;
	right: 0;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#terms #content {
	h2,
	h4,
	ul,
	p {
		max-width: 32rem;
		margin-left: auto;
		margin-right: auto;
	}
	p:nth-child(2) {
		margin-top: 1.5rem;
	}
	ul {
		padding-left: $rhythm;
		list-style: initial;
		li {
			margin-top: $rhythm / 4;
		}
	}
	* + * {
		margin-top: $rhythm / 2;
	}
	h4 {
		margin-top: $rhythm;
	}
}

.m-footer {
	color: $mono-60;
	background: white;
	text-align: center;
	margin-top: 0;
	font-size: $font-size-sm;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

@media (min-width: 768px) {
	.m-doubleExposure {
		left: 0;
		right: auto;
	}
	.m-footer {
		background: none;
		position: absolute;
		bottom: 3px;
		left: 0;
		right: 0;
	}
}
@media (min-width: 1024px) {
	.m-footer {
		bottom: 9px;
	}
}
@media (min-width: 1281px) {
	.m-footer {
		bottom: 12px;
	}
}