.Page {

}
.Page-hero {
  @include flexbox();
  @include flex-direction(column);
  position: relative;
  background: black;
  z-index: 1;
  padding-top: $spacing-xl * 3;
}

.Page-heroText {
  color: white;
  @extend .pagePadding;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
  background: linear-gradient(0deg, black, transparent);
  h1, 
  .subtitle {
    color: inherit;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  }
}

.Page-logo {
  width: 200px;
  margin-bottom: $spacing-sm;
}

.Page-announcement {
  font-size: 12px;
  @extend .font-sans;
  font-weight: $font-weight-sans-bold;
  padding: 4px 8px 4px;
  color: $text-dark;
  background: white;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: $spacing-sm;
  .link {
    text-decoration: underline;
  }
  span {
    display: none;
  }
  @media (min-width: 460px) {
    border-radius: 16px;
    padding: 5px 12px 4px;
    span {
      display: inline;
    }
    div {
      display: none;
    }
  }
}

.Page-heroImage,
.Page-video {
  order: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.Page-heroImage {
  background-position: top center;
  background-size: cover;
}

.Page-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  pointer-events: none;
}

.Page-content {
  @extend .pagePadding;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
}
.Page-footer {
  border-top: 1px solid $border-light;
  @extend .pagePadding;
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
  color: $text-muted;
  font-size: $font-size-xs;
  @extend .font-sans;
  text-align: center;
  a {
    text-decoration: underline;
  }
}

@media (min-width: $media-tablet) {
  .Page-hero {
    padding-top: #{$spacing-xl * 4 + $header-nav-desktop-height};
  }
  .Page-heroText {
    padding-bottom: $spacing-xl * 2;
    background: linear-gradient(0deg, rgba(0,0,0,0.8), transparent);
  }
  .Page-heroImage,
  .Page-video {
    opacity: 0.8;
  }

  .Page-announcement {
    font-size: 14px;
  }
  .Page-content {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
  }
  .Page-footer {
  }
}