.Prices {
  @include flexbox();
  @include flex-wrap(wrap);
  margin-top: 0px;
  margin-left: -20px;
}

.Price {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid $border-light;
  padding: 20px;
  &:nth-child(2) {
    background: $primary-faded;
    .button {
      color: white;
      background: $text-dark;
    }
  }
}

.Price-content {

}

.Price-title {
}

.Price-subtitle {
  color: $text-muted;
}

.Price-amount {
  font-size: 1.5rem;
  font-family: $font-title;
  margin-top: 16px;
  margin-bottom: 8px;
}
.Price-amountSuffix {
  font-size: 1rem;
  font-family: $font-body;
  color: $text-muted; 
}

@media (min-width: $media-md) {
  .Prices {
    @include flex-wrap(nowrap);
  }
}

@media (min-width: $media-lg) {
  .Price {
    padding: 32px;
  }
  .Price-amount {
    font-size: 2rem;
    margin-top: 24px;
  }
  .Price-amountSuffix {
    font-size: 1.25rem;
  }
}