.m-prices-includedList {
	li {
		margin-top: $rhythm / 4;
	}
	img {
		display: inline-block;
		vertical-align: text-top;
		position: relative;
		top: 1px;
	}
}
.m-prices {
	color: $blue-45;
	font-size: 17px;
	max-width: 32rem;
	margin-left: auto;
	margin-right: auto;
	padding: $rhythm / 2;
	background: white;
	box-shadow: 0 0 40px rgba($brown-30, 0.2);
}
.m-prices-date {
	margin-top: -5px;
	font-size: 12px;
	color: $blue-90;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
.m-prices-pound {
	display: none;
}
.m-prices-list {
	margin-top: 0;
	&.england {
		.m-prices-pound {
			display: inline;
		}
		.m-prices-euro {
			display: none;
		}
	}
}
.m-prices-price {
	margin-top: $rhythm / 4;
	strong {
		font-weight: 400;
	}
	&.upcoming {
		opacity: 0.5;
	}
	&.disabled {
		> * {
			text-decoration: line-through;
		}
	}
	&.active {
		opacity: 1;
		background: $yellow;
	}
}
.m-prices-priceName,
.m-prices-priceValue {
	display: block;
	text-align: center;
}
.m-prices-priceValue {
	margin-top: 0;
	strong {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}
.m-price-deposit {
	font-size: $font-size-sm;
	font-family: $font-mono;
	text-align: center;
	color: $pink;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
.m-price-depositDetails {
	text-align: center;
	color: $mono-60;
	font-size: $font-size-sm;
}
.m-prices-form {
	@include clearfix();
	> * {
		margin: 0;
	}
	input[type="image"] {
		width: 230px;
		float: right;
	}
	table,
	select {
		width: 100%;
		max-width: 320px;
		margin: auto;
	}
}

@media (min-width: 568px) {

	.m-prices-price {
		@include clearfix();
	}
	.m-prices-priceName,
	.m-prices-priceValue {
		float: left;
	}
	.m-prices-priceName {
		width: 60%;
		text-align: right;
	}
	.m-prices-priceValue {
		width: 40%;
		text-align: left;
		padding-left: 5px;
	}
}
@media (min-width: 768px) {
	.m-prices-includedList img {
		top: 2px;
	}
	.m-prices {
		font-size: $font-size-md;
		// float: right;
		// margin-top: 0;
		// margin-left: $rhythm;
	}
	.m-prices-date {
		font-size: 13px;
	}
	.m-prices-priceName,
	.m-prices-priceValue {
		width: 50%;
	}
}