.Schedule {
	background: rgba($brown-30, 0.1);
	padding: $rhythm / 2;
	margin-top: $rhythm;
	margin-left: -$rhythm / 2;
	margin-right: -$rhythm / 2;
	font-family: $font-mono;
	font-size: $font-size-xs;
	color: $mono-30;
	li + li {
		margin-top: $rhythm / 2;
	}
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
.Schedule-time {
	opacity: 0.6;
}
.Schedule-title {
	color: $blue-45;
	font-weight: bold;
}