.Testimonial {
  max-width: 640px;
  margin: auto;
}
.Testimonial-text {
  text-align: center;
  font-style: italic;
  &:before {
    content: "“"
  }
  &:after {
    content: "”"
  }
}
.Testimonial-owner {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  margin-top: 1rem;
  .media-image {
    width: 3rem;
    margin-right: 1rem;
  }
}