.Timetable {
	font-family: $font-system;
	div.healcode .header h1 {
		text-align: left;
		font-style: normal;
	}
	.hc-pignose-calendar .hc-pignose-calendar-top .hc-pignose-calendar-top-year {
		text-align: center;
	}
}