---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// General Settings
@import 'base/variables';
@import 'base/reset';
@import 'base/mixins';

// // Components
@import 'components/defaults';
@import 'components/layout';
@import 'components/typography';
@import 'components/grid';
@import 'components/forms';
@import 'components/inputs';
@import 'components/buttons';
@import 'components/modals';
@import 'components/media';
@import 'components/table';
@import 'components/accordion';
@import 'components/carousel';

// // Plugins
// @import 'plugins/instantClick';
// @import 'plugins/facebook';
@import 'plugins/momoyoga';

// // Modules
@import 'modules/BackgroundImages';
@import 'modules/Feature';
@import 'modules/Footer';
@import 'modules/GlobalCta';
@import 'modules/Header';
@import 'modules/Hero';
@import 'modules/Home';
@import 'modules/JumpLinks';
@import 'modules/Longform';
@import 'modules/Newsletter';
@import 'modules/Page';
@import 'modules/Price';
@import 'modules/Testimonial';

// // Utilities
@import 'utilities/utilities';
// @import 'utilities/display';
// @import 'utilities/layout';
// @import 'utilities/typography';