.u-text--small {
	font-size: $rhythm / 2;
}
.u-text--large {
	font-size: $rhythm;
}
.u-text--center {
	text-align: center !important;
}
.u-text--left {
	text-align: left !important;
}
.u-text--right {
	text-align: right !important;
}