.clearfix {
	@include clearfix();
}
.u-pull-left {
	float: left !important;
}
.u-pull-right {
	float: right !important;
}

.u-listInline {
	list-style: none;
	padding-left: 0;
	> li {
		display: inline-block;
		margin-top: 0;
	}
}

// Media
.u-responsiveMedia {
	position: relative;
	padding-bottom: 56.25%;
	iframe,
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

.u-text-subpixelAntialiase {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
.u-text-antialiase {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.u-text-left {
	text-align: left;
}
.u-text-center {
	text-align: center;
}
.u-text-right {
	text-align: right;
}

.hidden {
	display: none !important;
}
// Display
@media (max-width: 374px) {
	.hidden-xs {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hidden-sm {
		display: none !important;
	}
}
@media (min-width: 768px) {
	.hidden-md-up {
		display: none !important;
	}
}
@media (max-width: 1023px) {
	.hidden-md {
		display: none !important;
	}
}
@media (min-width: 1024px) {
	.hidden-lg-up {
		display: none !important;
	}
}