<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/rua.jpg" %}
    <h3 class="media-title">Rua Hvitulv</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Rua Hvitulv</h3>
    <div>
      <p>Rua is co-founder and owner of YogaRuka.</p>

      <p>From a history as a teacher of sciences, to a journalist writing about the Mafia in the heated Neapolitan metropolis, to a multi-disciplinary artist fiddling with print and the web, Rua has changed lives a few times over. The only thing that​ has been​stick​ing​​ throughout​is her passion for learning​,​and sharing mindful experiences rather than just knowledge - and that’s how today she is a dedicated meditation facilitator, a stretch therapist and a multi-style yoga instructor.</p>

      <p>​She is striving​ to teach - or perhaps even better, facilitate yoga, and movement - the way​ she would have always wanted to be taught. ​Her long-term goal is to gather around ​her a new generation of practitioners who think of yoga​​and all its​ ​offshoots critically, not superstitiously, who aspire to work healthily and live mindfully; to offer a resource for those who want to approach it from a different angle; to offer a space for those who have tried and failed to get into it many times before, to try once more.</p>

      <p><a class="link js-modal" id="370278281">Watch Rua’s Video</a></p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/morgan.jpg" %}
    <h3 class="media-title">Morgan</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Morgan</h3>
    <div>
      <p>Morgan was a fairly unathletic child who found his way into a gym at age 20, where finally he thrived in a non-competitive environment. However, being unconditioned, he quickly collected some injuries. He turned to yoga, and then other methodologies like Stretch Therapy and Fighting Monkey, which not only rehabbed his injuries, but to his surprise turned him into someone “athletic”.</p>

      <p>His classes are a mix of everything he’s ever tried, as he believes variability is the key to good health and good movement.</p>

      <p><a class="link js-modal" id="377763862">Watch Morgan’s Video</a></p>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-header">
    {% include components/media/image.html image="/assets/images/teachers/jenna.jpg" %}
    <h3 class="media-title">Jenna</h3>
  </div>
  <div class="media-body">
    <h3 class="media-title">Jenna</h3>
    <div>
      <p>Hi my name is Jenna, my approach with teaching asana is the same approach I take with my health & wellness clients; respecting bio-individuality while engaging in functional movement that supports us day to day.</p>

      <p>My 14 year love affair with yoga began when I was able to develop a new relationship with my mind & body with less judgment of the outcome. As my curiosity grew so did my desire to learn all aspects of the ancient yoga system such as pranayama, meditation & Ayurveda. Seeing how it can be used in modern times has now become my passion and joy to share with others. With 1200 hours of teacher trainings under my belt I still am a student and students are my teachers.</p>

      <p>Come and join me for a breath centered practice that explores your own body’s movement and encourages safety, awareness and wellbeing.</p>
    </div>
  </div>
</div>