.accordion-list {

}

.accordion {
  padding: $spacing-md;

  &.is-open {
    border: 1px solid $border-light;
    padding: $spacing-md;
    .accordion-title {
      font-weight: $font-weight-sans-bold;
      color: inherit;
    }
    .accordion-body {
      display: block;
    }
  }
}

.accordion-toggler {
  display: block;
  color: inherit !important;
  text-decoration: none !important;
}

.accordion-title {
  font-weight: $font-weight-sans-regular;
  color: $text-muted;
  &:hover {
    color: inherit;
  }
}

.accordion-body {
  display: none;
  margin-top: $spacing-xs;
}