// Reset
.button {
	border: none;
	box-shadow: none;
	line-height: normal;
	text-align: center;
}
.button {
	@include inline-flex();
	@include align-items(center);
	border-radius: $action-border-radius;
	border: 1px solid rgba($link, 0.5);
	height: $action-height;
	display: block;
  width: 100%;
	font-family: $font-system;
  font-size: $action-font-size;
	font-weight: 700;
	padding: 10px $spacing-lg 11px;
	color: $link;
	background: white;
	&:hover {
		color: white;
		background: $link;
	}
}
.button--primary {
	color: white;
	background: $text-dark;
	border-color: transparent;
}
.button--minimal {
	background: rgba($link, 0.2);
	border-color: transparent;
	padding: 10px 0 11px;
  height: $input-height;
}
.button--inverted {
	border-color: white;
  color: $blue;
	&:hover {
		color: $blue;
		background: rgba(white, 0.8);
	}
}
.button--sm {
  font-size: $font-size-sm;
  height: $action-height-sm;
  padding: 8px $spacing-md 9px;
  width: auto;
}

@media (min-width: $media-tablet) {
  .button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .button--fullWidth {
    width: 100%;
  }
}