// Reset
button, .button {
	border: none;
	box-shadow: none;
	line-height: normal;
	text-align: center;
}
.button {
	@include inline-flex();
	@include align-items(center);
	border-radius: $action-border-radius;
	border: none;
	height: $action-height;
	font-family: $font-system;
  font-size: $action-font-size;
	font-weight: 700;
	padding: 11px $spacing-md 12px;
	color: $link;
  background: rgba($link, 0.15);
  transition: 0.25s ease-in-out;
	&:hover {
		color: white;
		background: $link;
	}
  &:active {
    transform: scale(0.98);
    transition: none;
  }
}
.button--fullWidth {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button--primary {
	color: white;
	background: $link;
}
.button--minimal {
	background: rgba($link, 0.2);
}
.button--inverted {
  background: white;
  color: $blue;
	&:hover {
		color: $blue;
		background: rgba(white, 0.8);
	}
}
.button--sm {
  font-size: $font-size-sm;
  height: $action-height-sm;
  padding: 9px $spacing-md 10px;
  width: auto;
}

@media (min-width: $media-tablet) {
  .button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}