// Reset
button, .button {
  border: none;
  box-shadow: none;
  line-height: normal;
  text-align: center;
}
.button {
  @include inline-flex();
  @include align-items(center);
  border-radius: $action-border-radius;
  border: none;
  font-family: $font-sans;
  font-weight: $font-weight-sans-bold;
  font-size: $font-size-sm;
  height: $action-height-sm;
  padding: 8px 16px 9px;
  color: $text-dark;
  background: $primary-faded;
  transition: 0.25s ease-in-out;
  &:hover {
    color: white;
    background: $text-dark;
  }
  &:active {
    transform: scale(0.98);
    transition: none;
  }
}
.button--large {
  font-size: $action-font-size;
  line-height: 24px;
  padding: 12px 20px;
  height: auto;
}
.button--outline {
  box-shadow: 0 0 0 1px $border-light;
  background: white;
  &:hover {
    box-shadow: none;
  }
}
.button--fullWidth {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button--primary {
  color: white;
  background: $text-dark;
}
.button--momoyoga {
  background: $primary-faded;
}
.button--inverted {
  background: white;
  color: $text-dark;
  &:hover {
    background: white;
    color: $text-dark;
  }
}