$carousel-spacing: 28px;

.carousel {
  position: relative;
}

.carousel-listItem {
  figcaption {
    margin-top: $spacing-sm;
  }
  h5 {
    text-transform: uppercase;
  }
  p {
    font-size: $font-size-md;
  }
  a {
    display: inline-block;
    margin-top: 4px;
  }
}

.carousel-listItem--video {
  .carousel-image img {
    opacity: 0.75;
    transition: 0.25s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    .carousel-image img {
      opacity: 1;
    }
    .carousel-playIcon {
      transform: scale(1.1);
    }
  }
}

.carousel-listItem--text {
  figcaption {
    margin: 0;
    border: 1px solid $border-light;

    padding: $spacing-md;
  }
}

.carousel-image {
  position: relative;
  background: black;
}

.carousel-playIcon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: $action-height;
  height: $action-height;
  margin: auto;

  opacity: 1 !important;
  border-radius: 50%;
  box-shadow: 0 0 20px black;

  transition: 0.25s ease-in-out;
}

@media (max-width: 767px) {
  .carousel {
    margin-bottom: -$spacing-lg;
    .carousel-listItem {
      margin-bottom: $spacing-lg;
    }
  }

  .carousel--mobile {
    @include flexbox();
    margin-left: -$spacing-md;
    margin-right: -$spacing-md;
    margin-bottom: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: $spacing-md;

    .carousel-listItem {
      @include flex-shrink(0);
      width: calc(100vw - 56px);
      scroll-snap-align: start;
      margin-left: $spacing-sm;
      margin-bottom: 0;
      &:first-child {
        margin-left: $spacing-md;
      }
      &:last-child {
        margin-right: $spacing-md;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .carousel--mobile {
    .carousel-listItem {
      @include flex-shrink(0);
      width: calc(50vw - 56px);
    }
  }
}
@media (min-width: 768px) {
  .carousel {
    @include flexbox();
  }
  .carousel-listItem {
    width: 0;
    flex-grow: 1;
    margin-left: $carousel-spacing;
    &:first-child {
      margin-left: 0;
    }
  }
}