body {
	position: relative;
	overflow-x: hidden;
	background: white;
	max-width: $max-width;
	margin: 0 auto;
}
.background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: top center;
	background-size: cover;
	z-index: -1;
}
.border-container {
	position: relative;
	margin-top: 0;
	padding: $rhythm / 2;
	background: $brown-90;
	overflow: hidden;
}
a {
	position: relative;
	display: inline;
	line-height: 1.2;
	background: -moz-linear-gradient(bottom,     transparent 0%, rgba($blue-90, 0.5) 0%, rgba($blue-90, 0.5) 12%, transparent 12%, transparent 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(bottom,  transparent 0%, rgba($blue-90, 0.5) 0%, rgba($blue-90, 0.5) 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,       transparent 0%, rgba($blue-90, 0.5) 0%, rgba($blue-90, 0.5) 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,      transparent 0%, rgba($blue-90, 0.5) 0%, rgba($blue-90, 0.5) 12%, transparent 12%, transparent 100%); /* IE10+ */
	background: linear-gradient(to top,          transparent 0%, rgba($blue-90, 0.5) 0%, rgba($blue-90, 0.5) 12%, transparent 12%, transparent 100%); /* W3C */
	
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	margin-top: 0;
	.no-touch &:focus,
	.no-touch &:hover,
	.touch &:active {
		color: $blue-90;

		background: -moz-linear-gradient(bottom,     transparent 0%, $blue-90 0%, $blue-90 12%, transparent 12%, transparent 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(bottom,  transparent 0%, $blue-90 0%, $blue-90 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(bottom,       transparent 0%, $blue-90 0%, $blue-90 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(bottom,      transparent 0%, $blue-90 0%, $blue-90 12%, transparent 12%, transparent 100%); /* IE10+ */
		background: linear-gradient(to top,          transparent 0%, $blue-90 0%, $blue-90 12%, transparent 12%, transparent 100%); /* W3C */
	}
	&[data-visited] {
		background: -moz-linear-gradient(bottom,     transparent 0%, transparent 4%, rgba($mono-45, 0.33) 4%, rgba($mono-45, 0.33) 12%, transparent 12%, transparent 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 4%, rgba($mono-45, 0.33) 4%, rgba($mono-45, 0.33) 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(bottom,       transparent 0%, transparent 4%, rgba($mono-45, 0.33) 4%, rgba($mono-45, 0.33) 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(bottom,      transparent 0%, transparent 4%, rgba($mono-45, 0.33) 4%, rgba($mono-45, 0.33) 12%, transparent 12%, transparent 100%); /* IE10+ */
		background: linear-gradient(to top,          transparent 0%, transparent 4%, rgba($mono-45, 0.33) 4%, rgba($mono-45, 0.33) 12%, transparent 12%, transparent 100%); /* W3C */
	}
}
a,
button {
	&:focus {
		outline: none;
	}
	@include noSelect();
}
section {
	position: relative;
	z-index: 1;
	+ section {
		margin-top: $rhythm * 3;
	}
	@include clearfix();
}
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}
ol,
ul {
	list-style: none;
}
.list-bullets {
	list-style: initial;
	padding-left: 1rem;
}
hr {
	border: none;
	border-top: 2px solid $brown-30;
	opacity: 0.2;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	.background {
		display: block;
	}
	.border-container {
		padding: $rhythm;
		margin: $rhythm;
		border: $rhythm solid white;
		overflow: visible;
	}
}
@media (min-width: 1024px) {
	.border-container {
		padding: $rhythm * 1.5;
		margin: $rhythm * 1.5;
		border: $rhythm * 1.5 solid white;
	}
}

// // When selecting a text, it does this:
// ::selection {
//     color: $pink_dark;
//     background: $yellow;
//     background: rgba($yellow, 0.25); /* WebKit/Blink Browsers */
// }
// ::-moz-selection {
//     color: $pink_dark;
//     background: $yellow;
//     background: rgba($yellow, 0.25); /* Gecko Browsers */
// }


// input::selection {
//     color: white;
//     background: none;
//     background: rgba(white, 0.15); /* WebKit/Blink Browsers */
// }
// input::-moz-selection {
//     color: white;
//     background: none;
//     background: rgba(white, 0.15); /* Gecko Browsers */
// }