body {
	position: relative;
	overflow-x: hidden;
	background: white;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	&.link {
		color: $blue;
		text-decoration: underline;
	}
}
a,
button {
	&:focus {
		outline: none;
	}
	@include noSelect();
}
img {
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
ol,
ul {
	list-style: none;
}
.list-bullets {
	list-style: initial;
	padding-left: $spacing-md;
	li {
		margin-top: $spacing-sm;
	}
}
hr {
	border: none;
	border-top: 1px solid $text-dark;
	opacity: 0.2;
}