figure {
	position: relative;
	margin-left: -$rhythm / 2;
	margin-right: -$rhythm / 2;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: $rhythm / 2;
		border: $rhythm / 2 solid white;
	}
	&.has-noBorder:after {
		content: none;
	}
}

.iframe-wrapper {
	position: relative;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	.iframe {
		position: relative;
		padding-bottom: 56.25%;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

figcaption {
	display: table;
	font-family: $font-sans;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $rhythm;
	font-size: $font-size-sm;
	text-align: center;
	opacity: 0.75;
	figure + & {
		margin-top: -$rhythm / 3;
	}
	figure:hover + & {
		opacity: 1;
		background: $yellow;
	}
}

.image-small {
	clear: both;
}

@media (min-width: 568px) {
	figure {
		margin: 1rem;
		.row & {
			margin: 0;
		}
	}
	.image-small {
		max-width: 50%;
	}
}
@media (min-width: 768px) {
	.image-medium {
		max-width: 568px;
	}
}
@media (min-width: 1024px) {
	.image-small {
		max-width: 40%;
	}
}