// Reset
.input {
	display: block;
	letter-spacing: inherit;
	line-height: normal;
	border-radius: 0;
	background: none;
	box-shadow: none;
	color: inherit;
	border: none;
}

.input {
	font-size: $font-size;
	font-family: $font-system;
	width: 100%;

	background: white;
	border-radius: 5px;
	border: 1px solid transparent;
	height: $button-height;
	padding: 8px 8px 9px;

	&:focus {
		border-color: $blue;
	}
}

input.input {
	-webkit-appearance: none;
}

textarea.input {
	height: auto;
}