// Reset
.input {
	-webkit-appearance: none;
	display: block;
	letter-spacing: inherit;
	line-height: normal;
	border-radius: 0;
	background: none;
	box-shadow: none;
	color: inherit;
	border: none;
}

label {
  display: block;
  font-size: $font-size-md;
  @extend .font-sans;
  margin-bottom: $spacing-xxs;
}

.input {
  font-size: $action-font-size;
  @extend .font-sans;
	width: 100%;

	background: white;
	border-radius: $action-border-radius;
	border: 1px solid $border;
	height: $action-height;
	padding: 8px 8px 9px;

	&:focus {
		border-color: $text-dark;
		outline: none;
	}
}

input.input {
	-webkit-appearance: none;
}

textarea.input {
	height: auto;
}

select.input {
	background-image: url('/assets/icons/select-dropdown.svg');
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center right;
}
