.media {
  margin-top: $spacing-md;

  + .media {
    margin-top: $spacing-xl;
  }
}

.media-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: $spacing-sm;
}

.media-image {
  position: relative;
  width: 8rem;
  margin-right: $spacing-sm;
}

.media-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.media-title {
  margin-top: 0 !important;
}

.media-body {
  .media-title {
    display: none;
  }
}

@media (min-width: $media-tablet) {
  .media {
    display: flex;
    align-items: flex-start;
  }

  .media-header {
    margin-bottom: 0;
  }

  .media-image {
    width: 16rem;
    margin-right: $spacing-lg;
  }

  .media-title {
    display: none;
  }

  .media-body {
    .media-title {
      display: block;
    }
    font-size: $font-size-md;
  }

}