.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 100001;

  display: none;
  &.is-open {
    display: block;
  }
}

.modal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  max-width: 768px;
  max-height: 432px;

  margin: $action-height auto;

  z-index: 100001;
}

.modal-close {
  position: absolute;
  top: -$action-height;
  right: 0;

  width: $action-height;
  height: $action-height;
  background: none;
  color: white;
  font-size: 30px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;

  z-index: 100000;
}