ul.review-list {
	list-style: none;
	padding: 0;
}
.review-listItem {
	background: white;
	box-shadow: 0 0 40px rgba($brown-30, 0.2);
	+ .review-listItem {
		margin-top: $rhythm * 1.5;
	}
}
.review-avatar {
	width: $rhythm * 2;
	height: $rhythm * 2;
	margin-right: $rhythm / 3;
	float: left;
}
.review-caption {
	display: inline;
}
.review-name {
	margin-top: 0;
	// font-weight: bold;
}
.review-role {
	font-size: $font-size-sm;
	margin-top: 0;
	opacity: 0.5;
}
.review-message {
	clear: both;
	margin-top: 0;
	padding-top: $rhythm / 3;
	&:before {
		content: "“";
		font-size: 14rem;
		position: absolute;
		opacity: 0.1;
		line-height: 0.7;
	}
}
@media (min-width: 768px) {
	.review-listItem {
		margin-top: $rhythm;
	}
	.review-header {
		display: table;
		> * {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.review-avatar {
		width: $rhythm * 3;
		height: $rhythm * 3;
		margin-right: 0;
	}
	.review-caption {
		padding-left: $rhythm / 2;
	}
	.review-role {
		font-size: $font-size-md;
	}
}