.table {
	display: block;
	@include overflow-x();
	white-space: nowrap;
	font-size: 15px;
	font-family: $font-system;
	width: 100%;
	tbody tr {
		border-top: 1px solid $brown-90;
	}
	td,
	th {
		padding: 5px 10px;
	}
}

@media (min-width: $media-lg) {
	.table {
		display: table;
	}
}