.table {
	display: block;
	@include overflow-x();
	white-space: nowrap;
	font-size: 15px;
	@extend .font-sans;
	width: auto;
  margin: $spacing-md #{-$spacing-md - 1};
  padding: 0 $spacing-md;
  border: 1px solid $border;

	tbody tr {
		border-top: 1px solid $border;
	}
	td,
	th {
		padding: 5px 10px;
		text-align: left;
	}
}

@media (min-width: $media-tablet) {
	.table {
		display: table;
    margin-left: 0;
    margin-right: 0;
	}
}