.tabs-wrapper {
	margin: 0 #{-$rhythm/2} $spacing-md;
	@include overflow-x();
	.tabs {
		margin-left: $rhythm/2;
		&:after {
			content: "";
			width: $rhythm/2;
			background: transparent;
			@include flex-shrink(0);
		}
	}
}
.tabs {
	@include flexbox();	
	white-space: nowrap;
	max-width: none;
	box-shadow: inset 0 -2px $brown-75;
}
.tabs-listItem {
	@include flexbox();
	@include flex-basis(0);
	text-align: center;
	&:after {
		content: "";
		width: 1rem;
		@include flex-shrink(0);
		@include flex-grow(1);
		border-bottom: 2px solid $brown-75;
	}
	&:hover .tabs-link {
		color: $brown-30;
		border-color: initial;
	}
	&.active .tabs-link {
		color: $pink;
		border-color: initial;
	}
}
.tabs-link {
	display: block;
	font-family: $font-sans;
	background: none !important;
	color: $brown-60;
	border-bottom: 2px solid $brown-75;
	padding: 2px 6px;
	cursor: pointer;
}
.tabs-content {
	max-width: none;
}
.tabs-pane {
	display: none;
	&.active {
		display: block;
	}
}