html,
body {
	font-size: $font-size-md;
}

body {
  color: $text-dark;
  font-family: $font-body;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: $font-sans;
  font-weight: $font-weight-sans-regular;
}
.font-body {
  font-family: $font-body;
}
.font-title {
  font-family: $font-title;
  font-weight: $font-title-weight;
}

h1,
h2,
h3,
h4 {
  line-height: $line-height-header;
  margin-bottom: $spacing-sm;
  &:not(:first-child) {
    margin-top: $spacing-xl;
  }
}

h1,
h2,
.h1,
.h2 {
	line-height: $line-height-header;
  @extend .font-title;
}

h1,
.h1 {
	font-size: 34px;
  margin-bottom: $spacing-xs;
}

h2,
.h2 {
	font-size: 28px;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @extend .font-sans;
  font-weight: $font-weight-sans-bold;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
  margin-bottom: $spacing-xxs;
}

h5,
.h5,
h6,
.h6 {
  font-size: inherit;
}

strong {
  font-weight: 600;
}

p + p {
  margin-top: $spacing-md;
}

.subtitle {
	color: $text-muted;
  // font-style: italic;
}

@media (min-width: $media-tablet) {
	html,
  body {
		font-size: $font-size-lg;
	}

	h1,
	.h1 {
		font-size: 51px;
		+ .subtitle {
			font-size: 20px;
		}
	}

	h2,
	.h2 {
		font-size: 34px;
	}

	h4,
	.h4 {
		font-size: 1.25rem;
	}
}



@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/charter_regular.woff2') format('woff2');
}
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/charter_bold.woff2') format('woff2');
}
@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/charter_italic.woff2') format('woff2');
}