<!DOCTYPE html>
<html lang="en-AU">
    {% include head.html %}
    <body class="Page" {% if page.body-id %}id="{{ page.body-id }}"{% endif %}>
        {% include header.html %}

        <div class="Page-hero">
            <div class="Page-heroText">
                <div class="container">
                    {% if page.logo %}
                        <img class="Page-logo" src="{{ page.logo }}" />
                    {% endif %}
                    {% if page.announcement %}
                        <div class="Page-announcement">
                            <span>Sun 30 April: </span>
                            <a class="link" href="/events/connect-yoga">
                                Connect – a nurturing class for women
                            </a>
                        </div>
                    {% endif %}
                    <div class="container--md">
                        <h1>{{ page.h1 }}</h1>
                        <p class="subtitle">{{ page.subtitle }}</p>

                        {% if page.button %}
                            <a class="button button--inverted button--large m-top--md" href="{{ page.button-link }}">
                                {{ page.button }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% if page.cover-image == 'home' %}
              {% include content/home/video.html %}
            {% else %}
              <div class="Page-heroImage {% if page.cover-image %}Page-heroImage--{{ page.cover-image }}{% endif %}" style="background-image: url(/assets/images/cover-images/{{page.cover-image}}.jpg)"></div>    
            {% endif %}
        </div>

        <main class="Page-content">
            <div class="container">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}
        {% include foot.html %}
    </body>
</html>
