<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="Page" {% if page.body-id %}id="{{ page.body-id }}"{% endif %}>
        {% include header.html %}

        <div class="Page-hero">
            <div class="Page-heroText">
                <div class="container">
                    {% if page.announcement %}
                        <div class="Page-announcement">
                            Our Alexandria studio opens on Jan 2nd,<span> come to the <a class="link" href="https://www.momoyoga.com/yogaruka/lesson/12462969/free-event-yoga-bubbles-alexandria">grand opening</a>!</span>
                            <div>come to the <a class="link" href="https://www.momoyoga.com/yogaruka/lesson/12462969/free-event-yoga-bubbles-alexandria">grand opening</a>!</div>
                        </div>
                    {% endif %}
                    <div class="container--md">
                        <h1>{{ page.h1 }}</h1>
                        <p class="subtitle">{{ page.subtitle }}</p>
                    </div>
                </div>
            </div>
            
            {% if page.cover-image == 'home' %}
              {% include content/home/video.html %}
            {% else %}
              <div class="Page-heroImage {% if page.cover-image %}Page-heroImage--{{ page.cover-image }}{% endif %}"></div>    
            {% endif %}
        </div>

        <main class="Page-content">
            <div class="container">
                {{ content }}
            </div>
        </main>

        {% include footer.html %}
        {% include foot.html %}
    </body>
</html>