---
layout: default
body-class: hero
---

<section class="Hero">
	<div class="Hero-text u-text-antialiase">
		<h6 class="sans-serif">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h6>
		<h1 class="margin-top-0">{{ page.title }}</h1>
	</div>
</section>

<div class="Page-content">
	<article class="m-blog-article Longform Longform--blogpost">
		{{ content }}
	</article>
	
	{% if page.include-newsletter-signup %}
		<hr>
		{% include newsletter-signup.html %}
	{% endif %}
</div>