<div class="carousel">
  <div class="carousel-frame">
    <ul class="carousel-list">
      <li class="carousel-listItem carousel-listItem--text">
        <figcaption>
          <p>“I want to go do something super fun like surfing / snowboarding / hiking / rock climbing with my friends, however I don’t think I have the stamina for it / I’ve always been terrible at sports.”</p>
        </figcaption>
      </li>

      <li class="carousel-listItem carousel-listItem--text">
        <figcaption>
          <p>“I’m very sedentary and becoming more and more aware of my physical deterioration, but I’ve left it for so long that I’m not quite sure where to start, and I’m afraid I’ll injure myself because of my lack of conditioning.”</p>
        </figcaption>
      </li>

      <li class="carousel-listItem carousel-listItem--text">
        <figcaption>
          <p>“I’ve done yoga / Pilates / gym in the past but I plateaued and nothing I’ve been trying seems to get me to the next level, whilst accommodating my specific areas of weakness or misalignment.”</p>
        </figcaption>
      </li>

      <li class="carousel-listItem carousel-listItem--text">
        <figcaption>
          <p>“I want to run around with my kids / grandkids without feeling constantly exhausted or feeling like I’ll pop a hip.”</p>
        </figcaption>
      </li>

      <li class="carousel-listItem carousel-listItem--text">
        <figcaption>
          <p>“I want to take a tropical holiday and feel good in my bikini without needing to starve myself and do hours of cardio.”</p>
        </figcaption>
      </li>

      <li class="carousel-listItem carousel-listItem--text">
        <figcaption>
          <p>“I pant whenever I climb even just a row of stairs and I’m spending all the time outside of my job recovering from my job. I would like to have enough energy and focus to work on my personal projects and bucketlist items.”</p>
        </figcaption>
      </li>
    </ul>
  </div>
  <div class="carousel-scrollbar">
    <div class="carousel-scrollbarHandle"></div>
  </div>
  <!-- <div class="carousel-buttons">
    <button class="carousel-button carousel-button--prev"></button>
    <button class="carousel-button carousel-button--next"></button>
  </div> -->
</div>