<div class="accordion-list">
<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">How do I get the most out of my intro deal?</a>
</h5>
<div class="accordion-body" markdown="1">
  Try everything! We offer so much more variety than most studios. Even if you’re a very experienced yogi, you’ll certainly find something novel here to challenge and excite you. Plus, you never know which style or teacher will resonate with you the most. So sample the lot!
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">What should I bring to class?</a>
</h5>
<div class="accordion-body" markdown="1">
- A water bottle: Hydration is key!
- A light (‘ish) stomach: If you’ve had a lot to eat shortly beforehand, you may find some of the movements uncomfortable
- Clothes you can sweat and move in comfortably: We highly recommend natural fibres over synthetics, better for the planet and for your living, breathing skin!
- A towel
- Mats are provided but you’re welcome to bring your own 
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">I’ve never done any sort of training, which classes should I start with?</a>
</h5>
<div class="accordion-body" markdown="1">
All of our classes can accommodate beginners. Our experienced teachers offer lots of options and modifications, and you are welcome to take a rest at any time.
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">Is it safe to come to the studio if I have any injuries or physical limitations?</a>
</h5>
<div class="accordion-body" markdown="1">
We absolutely encourage you to! We have group classes designed specifically for rehabilitation, and generally offer options and modifications during our classes, just let your teacher know if you have any injuries or health issues that will affect your practice. If you’re still nervous about it, have very specific requirements, or you’d simply like a personalised practice just for you, don’t hesitate to book a private session with one of our 3 senior teachers. A private session pack is the best way to truly take your body to the next level! 
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">I’ve taken a class already and paid a casual drop in rate. Can I still purchase the intro deal?</a>
</h5>
<div class="accordion-body" markdown="1">
We would love you to do a Taster! A casual class doesn't showcase the extent of what we have to offer; so by all means purchase the introductory pass and try everything
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">What if I buy my intro pass and then can’t use it straight away?</a>
</h5>
<div class="accordion-body" markdown="1">
Don’t worry about it! We will activate your pass on the first scheduled class visit.
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">Do I always have to go to your website to book?</a>
</h5>
<div class="accordion-body" markdown="1">
You can book classes via the website or via the Momoyoga app which you can download for [iPhone](https://itunes.apple.com/au/app/momoyoga/id1233882505?mt=8) or [Android](https://play.google.com/store/apps/details?id=com.momostudio.momoyoga).
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">I have missed my 7 am class because the app didn’t let me cancel my booking at 5.30 am.</a>
</h5>
<div class="accordion-body" markdown="1">
Please note our Bookings Policy: we have a 4 hour cancellation bracket, in order to retain the class credit for future use. If you do not cancel before the 4 hour cut off, you will forfeit the class credit. Please also note that bookings and cancellations are not accepted via phone, email or social media.
</div>
</div>

<div class="accordion">
<h5>
<a class="accordion-toggler js-toggleAccordion">Can I suspend my debit membership?</a>
</h5>
<div class="accordion-body" markdown="1">
You sure can. All our conditions for the various types of memberships and passes are clearly stated in the [terms & conditions](/terms-and-conditions/) on both the website and on our Momoyoga profile - please check them throughly, and don’t hesitate to [contact us](/contact/) should you have any further questions.
</div>
</div>











</div>