html {
	font-family: $font-body;
	font-size: $font-size-md;
	line-height: $line-height;
	color: $brown-30;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	line-height: $line-height-header;
}
h1,
.h1 {
	font-size: 2.5rem;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	color: inherit;
}
h2,
.h2 {
	font-family: $font-sans;
	font-size: 1.66rem;
	font-weight: 500;
	text-align: center;
	color: $blue-45;
	clear: both;
	padding-bottom: 5px;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
h3,
.h3 {
	color: inherit;
	font-size: 1.66rem;
	font-weight: 500;
	line-height: $line-height-header;
	text-align: left;
}
h4,
.h4 {
	color: inherit;
	font-size: 1.33rem;
	font-weight: 500;
	line-height: $line-height-header;
	text-align: left;
}
h5,
.h5 {
	color: inherit;
	font-family: $font-sans;
	font-size: 1.33rem;
	font-weight: 400;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
h6,
.h6 {
	color: inherit;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}
p:not(:first-child) {
	margin-top: $spacing-sm;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	+ p {
		margin-top: $line-height * 1em / 2;
	}
}
strong {
	background: rgba($yellow, 0.6);
	font-weight: inherit;
	font-style: normal;
	padding: 0.15em 0.2em;
	margin: 0 -0.2em;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
blockquote {
	background: white;
	padding: $rhythm / 2;
	@include clearfix();
	color: $blue-45;
	em {
		margin: 0 -0.2em;
	}
	&.right {
		margin-top: -3rem;
	}
}
.superscript {
	position: relative;
	top: 2px;
	font-size: 0.75em;
	vertical-align: super;
}
.text-muted {
	color: $mono-60;
}
.sans-serif {
	font-family: $font-sans;
}
@media (min-width: 768px) {
	html {
		font-size: $font-size-lg;
	}
	blockquote {
		&.right {
			margin-top: 2.25rem;
			margin-left: -33%;
			margin-right: 0;
		}
	}
	h1 {
		font-size: 4rem;
	}
	h4,
	.h4 {
		font-size: 1.5rem;
	}
}
@media (min-width: 1024px) {
	h2 {
		font-size: 2.33rem;
		max-width: 45rem;
		margin-left: auto;
		margin-right: auto;
	}
	ul,
	p {
		max-width: 42rem;
	}
	p.center {
		margin-left: auto;
		margin-right: auto;
	}
	blockquote {
		padding: $rhythm;
		&.right {
			margin-left: -33%;
		}
	}
}
@media (min-width: 1281px) {
	html {
		font-size: $font-size-xl;
	}
	blockquote {
		font-size: $font-size-lg;
	}
	.superscript {
		top: 1px;
	}
}