// Colours
$text-dark: rgba(0,0,0, 0.9);
$text-muted: rgba(0,0,0, 0.6);
$text-faded: rgba(0,0,0, 0.35);
$inverted-soft: #B2B2B2;
$inverted-faded: #636363;
$blue: #2da6c8;
$primary: #7F974E;
$primary-faded: rgba($primary, 0.15);
$link: #064D9D;
$red: #d03758;
$border: rgba($text-dark, 0.3);
$border-light: rgba($text-dark, 0.15);

$shadow: 0 6px 16px -4px rgba(0, 0, 0, 0.50);

// Typography
$font-title: 'Portonovo Trial', Georgia, serif;
$font-body: 'Charter', serif;
$font-sans: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-title-weight: 100;
$font-weight-sans-regular: 400;
$font-weight-sans-bold: 600;

$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$line-height: 1.6;
$line-height-header: 1.3;

// Containers
$container: 1280px;
$container-lg: 1280px;
$container-md: 720px;
$container-sm: 640px;
$container-xs: 500px;

// Layout
$rhythm: $line-height * 1rem;
$max-width: 1000px;
$spacing-xl: 64px;
$spacing-lg: 32px;
$spacing-md: 20px;
$spacing-sm: 16px;
$spacing-xs: 8px;
$spacing-xxs: 4px;
$spacing-names: "0", "xxs", "xs", "sm", "md", "lg", "xl";
$spacing-directions: "", "-top", "-left", "-right", "-bottom";
$spacing-amounts: 0, $spacing-xxs, $spacing-xs, $spacing-sm, $spacing-md, $spacing-lg, $spacing-xl;


// Media Queries
$media-tablet: 768px;
$media-xxl: 1440px;
$media-xl: 1280px;
$media-laptop: 1100px;
$media-lg: 1024px;
$media-md: 768px;
$media-sm: 568px;
$media-xs: 400px;
$media-names: 'xs', 'sm', 'md', 'lg', 'xl';
$media-amounts: $media-xs, $media-sm, $media-md, $media-lg, $media-xl;


// Magic Numbers
$action-height: 40px;
$action-height-sm: 36px;
$action-border-radius: 4px;
$action-font-size: $font-size-md;

$button-height-sm: 36px;
$input-height: 40px;
$button-height: 40px;
$border-radius: 4px;
$header-nav-mobile-height: 56px;
$header-nav-desktop-height: 64px;
$global-cta-desktop-height: 52px;