// Colours
$text-dark: #000000;
$text-muted: #5C6066;
$blue: #3BACC5;

// Typography
$font-body: "Domaine Text Test", Georgia, serif;
$font-header: "Domaine Display Test", Georgia, serif;
$font-system: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Helvetica","Arial",sans-serif;

$font-size-lg: 16px;
$font-size: 14px;
$font-size-sm: 12px;
$line-height: 1.5;
$line-height-header: 1.3;

// Layout
$rhythm: $line-height * 1rem;
$max-width: 1000px;
$spacing-xl: 64px;
$spacing-lg: 32px;
$spacing-md: 20px;
$spacing-sm: 16px;
$spacing-xs: 8px;
$spacing-xxs: 4px;
$spacing-names: "0", "xxs", "xs", "sm", "md", "lg", "xl";
$spacing-directions: "", "-top", "-left", "-right", "-bottom";
$spacing-amounts: 0, $spacing-xxs, $spacing-xs, $spacing-sm, $spacing-md, $spacing-lg, $spacing-xl;


// Media Queries
$media-tablet: 768px;
$media-xxl: 1440px;
$media-xl: 1280px;
$media-laptop: 1100px;
$media-lg: 1024px;
$media-md: 768px;
$media-sm: 568px;
$media-xs: 400px;
$media-names: 'xs', 'sm', 'md', 'lg', 'xl';
$media-amounts: $media-xs, $media-sm, $media-md, $media-lg, $media-xl;


// Magic Numbers
$button-height: 36px;
$header-nav-mobile-height: 56px;
$header-nav-desktop-height: 64px;
$global-cta-desktop-height: 52px;